#metrics-input-processes {
    margin-top: 0.7vmax;
    margin-bottom: 0.7vmax;
    border-top: 1px solid #b1b1b16b;
}

.accordion-icon {
    position: absolute;
    margin: auto 1.042vmax auto auto;
}

.info-icon {
    width: 1.5vw;
    position: relative;
    display: inline-block;
    overflow: visible;
    float: left;
    border-radius: 1.042vmax;
    transition: 0.21s ease-out;
    opacity: 0.65;
}

.div-wrapper {
    width: auto;
    overflow: hidden; /* Will contain if #first is longer than #second */
}

.left-div {
    width: 50%;
    float: left;
}

.right-div {
    width: 50%;
    float: right;
}

.circle {
    height: 10.417vmax;
    width: 10.417vmax;
    border-radius: 1vmax;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.458vmax;
    font-weight: bolder;
}

#whole-process-score {
    margin-left: 5vw;
}

#process-feature-table {
    width: 99%;
}

#process-feature-table input {
    position: relative;
    max-height: 80%;
    max-width: 90%;
    border-radius: 0.365vmax;
    padding: 0.417vmax 0.625vmax;
    font-size: inherit;
    color: #333333;
    vertical-align: middle;
    border: 0.052vmax solid #ccc;
    box-shadow: 0 0.029vmax 0.039vmax 0 rgba(0, 0, 0, 0.07);
}

#process-feature-table .col-1 {
    width: 25%;
}

#process-feature-table .col-2,
#process-feature-table .col-3,
#process-feature-table .col-4,
#process-feature-table .col-5,
#process-feature-table .col-6 {
    width: 6%;
}

#process-feature-table .col-7,
#process-feature-table .col-8 {
    width: 8%;
}

#process-feature-table .col-9 {
    width: 11%;
}

#process-feature-table .col-10 {
    width: 9%;
}

#process-feature-table .col-11 {
    width: 5%;
}

#process-feature-table .col-12 {
    width: 4%;
}

#process-feature-table .col-2,
#process-feature-table .col-3,
#process-feature-table .col-4,
#process-feature-table .col-5,
#process-feature-table .col-6,
#process-feature-table .col-7,
#process-feature-table .col-8,
#process-feature-table .col-9,
#process-feature-table .col-10,
#process-feature-table .col-11,
#process-feature-table .col-12 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#process-feature-table .col-2,
#process-feature-table .col-3,
#process-feature-table .col-4,
#process-feature-table .col-5,
#process-feature-table .col-6,
#process-feature-table .col-11 {
    border-left: 1px solid #b1b1b16b;
}

#process-feature-table tr {
    padding-top: 0.35vmax;
    padding-bottom: 0.35vmax;
}

#process-feature-table th {
    font-size: 0.677vw;
}

.square-border {
    background: #FFF;
    border: 0.35vmax solid #4AD28F;
    height: 6.25vmax;
    min-width: 9.375vmax;
    text-align: center;
    padding: 1.25vmax;
    border-radius: 0.7vmax;
    box-shadow: 0.01vmax 0.01vmax 0.4vmax rgba(0, 0, 0, 0.1);
}

.arrow {
    font-size: 4.688vmax;
    margin: 1.042vmax;
    transform: translateY(0.885vmax);
}

table .process-visualization {
    column-width: 10.417vmax;
    width: auto;
    border: none;
}

#modelling-process {
    vertical-align: middle;
    margin: 1.667vmax 0;
    padding: 1vmax 1vmax;
    border-radius: 0.7vmax;
}

.visualize {
    border: 0;
    display: inline-block;
}

.modelling-processes {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.componentcategory {
    font-style: italic;
}

.componentname {
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 0.417vmax;
}

#components-admin-process {
    padding-top: 1.4vmax;
    border-top: 1px solid #b1b1b16b;
}

#ComponentOverviewTable {
    display: block;
    padding-bottom: 1.042vmax;
}

#ComponentOverviewTable td {
    pointer-events: none;
}

#ComponentOverviewTable td i {
    pointer-events: auto;
}

#ComponentOverviewTable .col-1 {
    width: 15%;
}

#ComponentOverviewTable .col-2 {
    width: 35%;
}

#ComponentOverviewTable .col-3 {
    width: 45%;
}

#ComponentOverviewTable .col-4 {
    width: 5%;
}

#ComponentOverviewTable tr {
    transition: 0.2s ease-out;
}

#metrics-input-processes .small-circle {
    height: 0.5vmax;
    max-width: 1.725vmax;
    margin-top: 0.2vmax;
    border-radius: 1vmax;
}

#process-feature-table .small-circle {
    height: 3vmax;
    max-height: 1.725vmax;
    max-width: 1.725vmax;
    margin-top: 0;
    border-radius: 0.5vmax;
}

.percentage-span {
    position: absolute;
    right: 12.5%;
    font-size: 130%;
}
