* {
  box-sizing: border-box;
}

body {
  margin: auto;
  width: 70%;
  padding-top: 40px;
  font-size: 14px;
  line-height: 20px;
  min-height: 100%;
  background-color: #fff;
  overflow-y: scroll;
}

label {
  margin-bottom: 6px;
  max-width: 100%;
  vertical-align: middle;
}

a {
  background-color: transparent;
}

html input[disabled] {
  cursor: default;
  background: #dddddd;
}

input, select, textarea, button {
  font: inherit;
}

button, html input[type="button"], input[type="reset"] {
  cursor: pointer;
}

.header {
  display: block;
  margin-bottom: 30px;
}

.component-form, .process-form {
  margin-right: 15px;
  margin-left: 15px;
}

.logo {
  position: inherit;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.navigation {
  position: relative;
  left: auto;
  display: inline-block;
  overflow: visible;
  width: 300px;
  height: 20px;
  float: left;
}

.view-description-label {
  font-size: 17px;
  font-weight: 700;
}

.component-form-block, .process-form-block {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
}

.entry-label {
  position: relative;
  top: 3px;
  display: inline-block;
  padding-left: 5px;
  float: left;
  clear: left;
  font-weight: 400;
}

.textarea {
  position: relative;
  display: block;
  overflow: auto;
  width: 450px;
  max-height: 100%;
  max-width: 100%;
  min-height: 50px;
  min-width: 20px;
  float: left;
  clear: left;
  border-radius: 7px;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  vertical-align: middle;
  border: 1px solid #ccc;
}

.accordion-toggle {
  display: block;
  overflow: visible;
  width: 100%;
  position: relative;
  vertical-align: top;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 40px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: 0.35s ease-out;
}

.accordion-toggle[disabled] {
  color: #999999;
  cursor: default;
}

.accordion-item {
  display: block;
  overflow: hidden;
  height: auto;
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.accordion-icon {
  position: absolute;
  margin: auto;
  margin-right: 20px;
}

.dropdown-list {
  height: 0px;
  position: static;
  display: block;
  overflow: visible;
  padding-right: 0px;
  padding-left: 0px;
  width: 100%;
  min-width: 100%;
  transition: height 0.3s ease-out;
}

.info-icon {
  width: 45%;
  position: relative;
  display: inline-block;
  overflow: visible;
  border-radius: 20px;
  transition: 0.21s ease-out;
  opacity: 0.65;
}

.info-icon:hover {
  transition: 0.21s ease-out;
  opacity: 1;
}

.textfield, .category-dropdown {
  display: inline-block;
  width: auto;
  max-width: 100%;
  min-width: 60%;
  float: left;
  clear: left;
  border-radius: 7px;
  padding: 3.5% 5.25%;
  margin-bottom: 2%;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  vertical-align: middle;
  border: 1px solid #ccc;
}

.category-dropdown {
  cursor: pointer;
}

.features-label {
  transition: 0.17s ease-out;
  font-weight: 700;
}

.accordion-toggle:hover:not([disabled]) .features-label {
  transition: 0.15s ease-out;
  color: #414dde
}

.component-overview, .process-overview {
  padding-top: 40px;
  padding-left: 50px;
  padding-right: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: #e6e6e6;
  background-color: #ececec;
  box-shadow: rgba(50, 50, 93, 0.015) 0px 10px 10px -6px inset, rgba(0, 0, 0, 0.28) 0px 6px 25px -18px inset,rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.17) 0px 6px 6px;
}

.features-columns {
  display: inline-block;
  width: 100%;
  margin-left: 10px;
}

.description-columns {
  display: inline-block;
}

.navigation-links {
  display: block;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 18px;
  float: left;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  transition: 0.21s ease-out;
}

.navigation-link-separator {
  transition: 0.21s ease-out;
  float: left;
}

.navigation-selected {
  color: #44d08b;
}

.navigation-links:hover ~ .navigation-selected {
  color: #000000;
}

.navigation-links:hover ~ .navigation-link-separator {
  transition: 0.21s ease-out;
  -webkit-transform: rotateY(180deg);
}

.navigation-links:hover {
  color: #44d08b;
}

.feature-section {
  overflow: visible;
  border-bottom: 1px solid #c5c5c5;
}

.control-area {
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 10px;
}

.create-button {
  position: static;
  font-size: 15px;
  display: inline-block;
  padding: 9px 15px;
  margin-bottom: 3px;
  margin-right: 3px;
  background-color: #1f299c;
  color: white;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s ease-out;
}

.create-button:hover {
  transition: 0.3s ease-out;
  background-color: #a3a9f5ff;
  color: black;
  font-weight: 900;
  box-shadow: 3px 3px;
}

.create-button:active {
  transition: 0.3s ease-out;
  background-color: #1f299c;
  margin-top: 3px;
  margin-left: 3px;
  margin-bottom: 0px;
  margin-right: 0px;
  box-shadow: 0px 0px;
}

.metric-entry-element {
  width: 50%;
  display: inline-block;
}

.default-column {
  position: relative;
  float: left;
  width: 50%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.div-wrapper {
  width: auto;
  overflow: hidden; /* will contain if #first is longer than #second */
}
.left-div {
  width: 50%;
  float:left;
}
.right-div {
  width: 50%;
  overflow: hidden;
}

.circle {
  height: 19%;
  width: 75%;
  border-radius: 50%;
  display: table;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: bolder;
}

#process-feature-table {
  width: 99%;
}

#process-feature-table input {
  position: relative;
  max-height: 80%;
  max-width: 90%;
  border-radius: 7px;
  padding: 4% 6%;
  font-size: inherit;
  color: #333333;
  vertical-align: middle;
  border: 1px solid #ccc;
}

#process-feature-table .col-1 {
  width: 23%;
}

#process-feature-table .col-2 {
  width: 6%;
}

#process-feature-table .col-3 {
  width: 6%;
}

#process-feature-table .col-4 {
  width: 6%;
}

#process-feature-table .col-5 {
  width: 6%;
}

#process-feature-table .col-6 {
  width: 6%;
}

#process-feature-table .col-7 {
  width: 8%;
}

#process-feature-table .col-8 {
  width: 8%;
}

#process-feature-table .col-9 {
  width: 11%;
}

#process-feature-table .col-10 {
  width: 9%;
}

#process-feature-table .col-11 {
  width: 5%;
}

#process-feature-table .col-12 {
  width: 6%;
}

#process-feature-table .col-2, .col-3, .col-4
,.col-5, .col-6, th.col-7, .col-8, .col-9
,.col-10 , .col-11 ,.col-12 {
  text-align: center;
}

.postion-dropdown {
  display: inline-block;
  width: auto;
  max-width: 100%;
  min-width: 200px;
  float: left;
  clear: left;
  border-radius: 7px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  vertical-align: middle;
  border: 1px solid #ccc;
  cursor: pointer;
  margin-right: 15px;
}

.square-border {
  background: #FFF;
  border: 10px solid #4AD28F;
  height: 15%;
  min-width: 300%;
  text-align: center;
  padding: 40%;
}

.arrow {
  font-size: 90px;
  margin: 20px;
  transform: translateY(17px);
}

table .process-visualization {
  column-width: 200px;
  width: auto;
  border: none;
}

#modelling-process {
  vertical-align: middle;
  border: 1px solid black;
  margin: 3% 0;
}

.visualize {
  border: 0px;
  display: inline-block;

}

.modelling-processes {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.componentcategory {
  font-style: italic;
}

.componentname {
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 8px;
}

.accordion-icon-dropdown-toggle {
  position: absolute;
  font-size: 20px;
  top: 20px;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-right: 20px;
  width: 1em;
  height: 1em;
  transition: 0.35s ease-out;
}

#ComponentOverviewTable {
  display: block;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 20px;
}

#ComponentOverviewTable td {
  pointer-events: none;
}

#ComponentOverviewTable td i {
  pointer-events: auto;
}

#ComponentOverviewTable .col-1 {
  width: 15%;
}

#ComponentOverviewTable .col-2 {
  width: 35%;
}

#ComponentOverviewTable .col-3 {
  width: 25%;
}

#ComponentOverviewTable .col-4 {
  width: 0%;
}

#ComponentOverviewTable .col-5 {
  width: 0%;
}

#ComponentOverviewTable .col-6 {
  width: 0%;
}

#ComponentOverviewTable .col-7 {
  width: 20%;
}

#ComponentOverviewTable .col-8 {
  width: 1%;
}

#ComponentOverviewTable tr {
  transition:0.2s ease-out;
}