asgiref==3.3.1
attrs==20.3.0
blinker==1.4
click==7.1.2
Django==3.1.7
Flask==1.1.2
flask-requests==0.0.14
html-testRunner==1.2.1
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
neo4j-driver==4.1.1
neobolt==1.7.17
neomodel==4.0.2
packaging==20.9
pampy==0.3.0
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.2
pytz==2021.1
Shapely==1.7.1
sqlparse==0.4.1
toml==0.10.2
Werkzeug==1.0.1
