<html>
<head>
    <meta charset="utf-8">
    <title>Component</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/einzelkomponente.css') }}" type="text/css">
    <link href="{{ url_for('static', filename='images/favicon.png') }}" rel="icon" type="image/x-icon">
</head>
<body class="body" onload="init()">

<header id="header" class="header">
    <a href="/"><img src="{{ url_for('static', filename='images/logo.png') }}"loading="lazy" alt="" class="logo"></a>
    <div class="navigation">
        <a href="/" class="navigation-links">Home</a>
        <div class="navigation-link-separator">&gt;</div>
        <a href="#" class="navigation-links navigation-selected">Einzelkomponente</a>
    </div>

</header>

<div class="component-overview" id="component-overview">

    <div class="view-description-label">Einzelkomponente</div>

    <div class="component-form-block">
        <form class="component-form">

            <div class="description-columns">
                <div class="default-column">
                    <label for="component-name" class="entry-label">Name der Komponente</label>
                    <input type="text" class="textfield" maxlength="256" name="component-name"
                           data-name="component-name" id="component-name">
                    <label for="component-uid" class="entry-label">UID der Komponente</label>
                    <input type="text" class="textfield" maxlength="32" name="component-uid"
                           data-name="component-uid" id="component-uid" disabled>
                    <label for="component-category" class="entry-label">Komponenten Kategorie</label>
                    <select id="component-category" name="component-category" data-name="component-category"
                            class="category-dropdown" onchange="setSections(this.value)">
                        <option value="default">Bitte auswählen..</option>
                    </select>
                </div>
                <div class="default-column">
                    <label for="component-description-textarea"
                           class="entry-label">Beschreibung der Komponente
                    </label>
                    <textarea name="component-description-textarea"
                              maxlength="5000"
                              id="component-description-textarea"
                              data-name="component-description-textarea"
                              class="textarea">
                    </textarea>
                </div>
            </div>

            <div id="metrics-input"></div>

        </form>
    </div>
</div>
<script src="{{ url_for('static', filename='js/helper.js') }}"></script>
<script src="{{ url_for('static', filename='js/component-editor.js') }}"></script>
</body>
</html>
