<!-- TODO: Schriftart lokal einbinden
  1. Tabellen untereinander alignen
  2.
-->

<html lang="de">
<head>
    <meta charset="utf-8"/>
    <title>Praxisprojekt 2021 - Startseite</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css" >
    <!--<link rel="preconnect" href="https://fonts.gstatic.com">-->
    <script src="https://kit.fontawesome.com/f24e197897.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="headline" data-i18n="riskify"><h1>Riskify</h1></div>

    <div class="center">
        <h3 data-i18n="processes"></h3>
        <table id="processTable">
            <tr>
                <th data-i18n="process"></th>
                <th data-i18n="components"></th>
                <th data-i18n="score"></th>
                <th data-i18n="status"></th>
                <th data-i18n="created"></th>
                <th data-i18n="edited"></th>
                <th></th>
                <th></th>
            </tr>
        </table>
    </div>

<div class="center">
    <button class="button" type="button" onclick="addProcess()" data-i18n="add"></button>
</div>


<!-- <div class="center">
  <input type="submit" value="Löschen">
</div> -->

    <div class="center">
        <h3 data-i18n="components"></h3>
        <table id="componentTable">
            <tr>
                <th data-i18n="component"></th>
                <th data-i18n="category"></th>
                <th data-i18n="created"></th>
                <th data-i18n="edited"></th>
                <th><i class="fas fa-pencil-alt"></i></th>
                <th><i class="fas fa-trash-alt"></i></th>
            </tr>
        </table>
    </div>
<div class="center">
    <button class="button" type="button" onclick="addComponent()" data-i18n="add"></button>
</div>
<script src="{{ url_for('static', filename='js/helper.js') }}"></script>
<script src="{{ url_for('static', filename='js/dashboard-renderer.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/translator.js') }}"></script>
</body>
</html>
