<html lang="de">
<head>
    <meta charset="utf-8"/>
    <title data-i18n="homepage"></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
    <link href="{{ url_for('static', filename='images/favicon.png') }}" rel="icon" type="image/x-icon">
    <script src="https://kit.fontawesome.com/f24e197897.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="headline" data-i18n="riskify"><h1>Riskify</h1></div>

<div class="center">
    <h3 data-i18n="processes"></h3>
    <table id="processTable">
        <colgroup>
            <col width="17.5%">
            <col width="17.5%">
            <col width="17.5%">
            <col width="17.5%">
            <col width="10%">
            <col width="10%">
            <col width="5%">
            <col width="5%">
        </colgroup>
        <tr>
            <th data-i18n="process"></th>
            <th data-i18n="components"></th>
            <th data-i18n="score"></th>
            <th data-i18n="status"></th>
            <th data-i18n="created"></th>
            <th data-i18n="edited"></th>
            <th></th>
            <th></th>
        </tr>
    </table>
</div>

<div class="center">
    <a href="process">
        <button class="button" type="button" data-i18n="add"></button>
    </a>
</div>

<div class="center">
    <h3 data-i18n="components"></h3>
    <table id="componentTable">
        <colgroup>
            <col width="35%">
            <col width="35%">
            <col width="10%">
            <col width="10%">
            <col width="5%">
            <col width="5%">
        </colgroup>
        <tr>
            <th data-i18n="component"></th>
            <th data-i18n="category"></th>
            <th data-i18n="created"></th>
            <th data-i18n="edited"></th>
            <th></th>
            <th></th>
        </tr>
    </table>
</div>

<div class="center">
    <a href="component">
        <button class="button" type="button" onclick="addComponent()" data-i18n="add"></button>
    </a>
</div>

<script src="{{ url_for('static', filename='js/helper.js') }}"></script>
<script src="{{ url_for('static', filename='js/modals.js') }}"></script>
<script src="{{ url_for('static', filename='js/dashboard-renderer.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/translator.js') }}"></script>
</body>
</html>
