<html lang="de">
<head>
    <meta charset="utf-8"/>
    <title data-i18n="homepage"></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/einzelkomponente.css') }}" type="text/css">
    <link href="{{ url_for('static', filename='images/favicon.png') }}" rel="icon" type="image/x-icon">
    <script src="https://kit.fontawesome.com/f24e197897.js" crossorigin="anonymous"></script>
</head>
<body>
<header id="header" class="header">
    <a href="/" class ="logo"><img src="{{ url_for('static', filename='images/logo.png') }}" loading="lazy" alt="">
    </a>
</header>

<div data-i18n="process"></div>
<div class="component-overview" id="component-overview">

    <b data-i18n="what-we-are-about"></b>
    <div class="view-description-label"><b data-i18n="what-we-are-about"></b></div>
   <div data-i18n="process"></div>
    <div class="component-form-block"><p data-i18n="application-definition1"></p><p data-i18n="application-definition2"></div>

</div>
<b data-i18n="what-we-are-about"></b>

<script src="{{ url_for('static', filename='js/helper.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/translator.js') }}"></script>
</body>
</html>
