<html lang="de">
<head>
    <meta charset="utf-8"/>
    <title data-i18n="homepage"></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
    <link href="{{ url_for('static', filename='images/favicon.png') }}" rel="icon" type="image/x-icon">
    <script src="https://kit.fontawesome.com/f24e197897.js" crossorigin="anonymous"></script>
</head>
<body>
<header id="header" class="header">
    <a href="/">
    <img src="{{ url_for('static', filename='images/logo.png') }}" loading="lazy" alt="" class="logo"/>
    </a>


</header>


<div>
    <p data-i18n="application-definition"></p>
</div>

<script src="{{ url_for('static', filename='js/helper.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/translator.js') }}"></script>
</body>
</html>
