<html>
<head>
    <meta charset="utf-8">
    <title>Process</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/process_styles.css') }}" id="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css" >
    <link href="{{ url_for('static', filename='images/favicon.png') }}" rel="icon" type="image/x-icon">
    <script src="https://kit.fontawesome.com/f24e197897.js" crossorigin="anonymous"></script>
</head>
<body class="body" onload="init()">

    <header id="header" class="header"><img src="{{ url_for('static', filename='images/logo.png') }}"
                                                   loading="lazy" alt="" class="logo">
        <div class="navigation">
            <a href="/" class="navigation-links">Home</a>
            <div class="navigation-link-separator">&gt;</div>
            <a href="#" class="navigation-links">Prozess Ansicht</a>
        </div>
    </header>
    <div class="process-overview" id="process-overview">

        <div class="view-description-label">Prozessview</div>
        <div class="view-description-label" style="font-size: 13px;" >Beschreibung</div>
        <div class="process-form-block">

            <form id="process-form" name="process-form" data-name="process-form" class="process-form">

                <div class="description-columns">
                    <div class="div-wrapper">
                        <div class="left-div">
                            <label for="process-name-textarea"
                                   class="entry-label">Name des Prozesses
                            </label>
                            <input  type="text"
                                      name="process-name-textarea"
                                      maxlength="300"
                                      id="process-name-textarea"
                                      class="textfield">
                            <label for="process-beschreibung-textarea"
                                   class="entry-label">Beschreibung des Prozesses
                            </label>

                            <textarea name="process-beschreibung-textarea"
                                      maxlength="5000"
                                      id="process-beschreibung-textarea"
                                      class="textarea"></textarea>
                        </div>
                        <div class="right-div">
                            <div id="whole-process-score" class="circle"></div>
                        </div>
                    </div>
                </div>
                <div id="metrics-input-processes">
                </div>
                <div id="modelling-process">
                </div>
                <div id="components-admin-process">
                </div>
                <div id="control-panel-process">

                </div>
            </form>

            <!-- Placeholder following pls adapt/ add further -->
            <div class="success-message" id="create-success">
                <div class="message"></div>
            </div>
            <div class="error-message" id="create-fail">
                <div class="message"></div>
            </div>
            <div class="success-message" id="save-success">
                <div class="message"></div>
            </div>
            <div class="error-message" id="save-fail">
                <div class="message"></div>
            </div>

        </div><!-- end div process-form-block -->

    </div><!-- end div process-overview -->

    <script src="{{ url_for('static', filename='js/helper.js') }}"></script>
    <script src="{{ url_for('static', filename='js/process-editor.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/translator.js') }}"></script>

    <div class="center">
       
        <table id="ComponentOverviewTable">
        </table>
    </div>
    <div class="select-line">
    <select id="addposition"  class="postion-dropdown" >
        <option value="default">Select</option>
    </select>
    <button class="button" type="button" onclick="addComponent()">+</button>
    </div>
    <div id="buttons"></div>

</body>
</html>
