<html lang="en">
<head>
    <meta charset="utf-8">
    <title data-i18n="process"></title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/process_styles.css') }}" id="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
    <link href="{{ url_for('static', filename='images/favicon.png') }}" rel="icon" type="image/x-icon">
    <script src="https://kit.fontawesome.com/f24e197897.js" crossorigin="anonymous"></script>
</head>
<body class="body" onload="init()">

<header id="header" class="header">
    <a href="/" ><img src="{{ url_for('static', filename='images/logo.png') }}" loading="lazy" alt="" class ="logo">
    </a>
    <div class="navigation">
        <a href="/" class="navigation-links" data-i18n="home"></a>
        <div class="navigation-link-separator">&gt;</div>
        <a href="#" class="navigation-links" data-i18n="process-view"></a>
    </div>
</header>
<div class="process-overview" id="process-overview">
    <div class="loader-wrapper-hidden" id="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
        <div class="loader-text">Loading...</div>
    </div>

    <div class="view-description-label" data-i18n="process-view"></div>
    <div class="view-description-label" style="font-size: 13px;" data-i18n="description"></div>
    <div class="process-form-block">

        <form id="process-form" name="process-form" data-name="process-form" class="process-form">
            <div class="description-columns">
                <div class="div-wrapper">
                    <div class="left-div">
                        <label for="process-name-textarea" class="entry-label" data-i18n="process-name"></label>
                        <input type="text"
                               name="process-name-textarea"
                               maxlength="300"
                               id="process-name-textarea"
                               class="textfield">
                        <label for="process-responsible-person-textarea"
                               class="entry-label" data-i18n="responsible-person">
                        </label>
                        <input type="text"
                               name="process-responsible-person-textarea"
                               maxlength="300"
                               id="process-responsible-person-textarea"
                               class="textfield">
                        <label for="process-beschreibung-textarea"
                               class="entry-label" data-i18n="process-description">
                        </label>
                        <textarea name="process-beschreibung-textarea"
                                  maxlength="5000"
                                  id="process-beschreibung-textarea"
                                  class="textarea"></textarea>
                    </div>
                    <div class="right-div">
                        <div id="whole-process-score" class="circle"></div>
                    </div>
                </div>
            </div>
            <div id="metrics-input-processes">
            </div>
            <div id="modelling-process">
            </div>
            <div id="components-admin-process">
                <div class="center">
                    <table class="responsive-table" id="ComponentOverviewTable"></table>
                </div>
                <div id="add-component-dropdown" class="select-line" style="display: none;">
                    <select id="addposition" class="postion-dropdown"></select>
                    <button class="button" type="button" onclick="helper.showLoadingScreen(); addComponent()">+</button>
                </div>
            </div>
            <div id="control-panel-process">
                <div id="buttons"></div>
            </div>
        </form>

        <!-- Placeholder following pls adapt/ add further -->
        <div class="success-message" id="create-success">
            <div class="message"></div>
        </div>
        <div class="error-message" id="create-fail">
            <div class="message"></div>
        </div>
        <div class="success-message" id="save-success">
            <div class="message"></div>
        </div>
        <div class="error-message" id="save-fail">
            <div class="message"></div>
        </div>

    </div><!-- end div process-form-block -->

</div><!-- end div process-overview -->

<script src="{{ url_for('static', filename='js/helper.js') }}"></script>
<script src="{{ url_for('static', filename='js/process-editor.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/translator.js') }}"></script>

</body>
</html>
